:root {
  --main-background: #F8F8F8;
  --bg-nav: #5D5DF6;
  --btn-primary: #00D2E1;
  --bg-search: #4B4AC4;
  --placeholder-text: #B6B6FC;
  --plain-white: #FFFFFF;
  --basic-grey: #B8BBD1;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  /* overflow-x: hidden; */
  background: var(--main-background); 
  /* background-color: var(--main-background);  */
}

.nav-searchbar {
  background-color: var(--bg-search);
  border-radius: 8px;
  border: none;
  width: 290px !important;
  padding-left: 16px;
  padding-right: 16px;
  /* color: var(--main-background); */
}

.nav-searchbar-text {
  background-color: var(--bg-search);
  border: none;
  color: var(--placeholder-text);
  width: 234px;
}

.login-btn {
  background: var(--btn-primary) !important;
  color: white !important;
  padding-left: 32px;
  padding-right: 32px;
}

input:focus {
  outline: none;
}

.nav-searchbar-icon {
  align-self: center;
}

::placeholder {
  color: var(--placeholder-text);
  opacity: 1; /* Firefox */
}

::-ms-input-placeholder { /* Edge 12 -18 */
  color: var(--placeholder-text);
}

.sidebar-container {
  height: 93.3vh;
  padding-left: 8px !important;
  padding-right: 8px !important; 
  float: left;
  background: var(--plain-white);
  padding-top: 16px;
}

.sidebar-item {
  margin-top: 8px;
  padding: 8px;
  border-radius: 8px;
  color: var(--basic-grey);
}

.sidebar-item:hover {
  background: var(--btn-primary);
  color: white;
}

.sidebar-item.active {
  background: var(--btn-primary);
  color: white;
}

.container-main-feed {
  background: var(--main-background);
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.jtron-main-feed {
  position: absolute;
  height: 105px;
  width: 800px;
  object-fit: cover;
  object-position: 0%;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 8px;
}

.m-t-100 {
  margin-top: 100px;
}

.m-t-20 {
  margin-top: 20px;
}

.m-t-16 {
  margin-top: 16px;
}

.m-t-8 {
  margin-top: 8px;
}

.m-b-4 {
  margin-bottom: 4px;
}

.m-b-20 {
  margin-bottom: 20px;
}

.m-r-4 {
  margin-right: 4px;
}

.m-r-8 {
  margin-right: 8px;
}

.m-r-16 {
  margin-right: 16px;
}

.m-l-4 {
  margin-left: 4px;
}

.m-l-8 {
  margin-left: 8px;
}

.m-l-16 {
  margin-left: 16px;
}

.m-l-90 {
  margin-left: 90px;
}

.p-t-4 {
  padding-top: 4px;
}

.p-t-8 {
  padding-top: 8px;
}

.p-b-8 {
  padding-bottom: 8px;
}

.d-flex {
  display: flex;
}

.border-top-grey {
  border-top: 1px solid var(--basic-grey);
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.justify-space-between {
  justify-content: space-between;
}

.h-36 {
  height: 36px;
}

.h-80 {
  height: 80px;
}

.h-250 { 
  height: 250px
}

.h-396 { 
  height: 396px
}

.h-566 {
  height: 566px;
}

.h-682 {
  height: 682px;
}

.w-200 {
  width: 200px;
}

.w-368 {
  width: 368px;
}

.bor-rad-8 {
  border-radius: 8px;
}

.bg-plain-white {
  background: var(--plain-white);
}

.new-member-card-container, .groups-card-container, .quests-card-container, .badges-card-container {
  padding-left: 16px;
  padding-top: 8px;
  padding-right: 16px;
  width: 100%;
  height: 100%;
}

.new-member-card-list, .groups-card-list, .quests-card-list, .badges-card-list {
  overflow:auto;
  scrollbar-width: none;
  width: 100%;
  height: 90%;
}

.new-member-card-list::-webkit-scrollbar,
.groups-card-list::-webkit-scrollbar,
.quests-card-list::-webkit-scrollbar,
.badges-card-list::-webkit-scrollbar,
.main-feed-container::-webkit-scrollbar {
  display: none;
}

.quest-card, .badge-card {
  box-shadow: 0px 5px rgba(0,0,0,0.2);
  border: none !important;
}

.new-member-card, .group-card {
  border: none !important;
}

.main-feed-container {
  overflow: auto;
  width: 100%;
  height: 83%;
  scrollbar-width: none;
}

.main-feed-filter {
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

.main-feed-filter-heading {
  text-decoration: underline;
  text-decoration-color: var(--btn-primary);
  text-decoration-thickness: 4px;
  text-underline-offset: 30px;
}

.font-bold {
  font-weight: bold;
}

.font-size-14 {
  font-size: 14px;
}

.font-size-12 {
  font-size: 12px;
}

.font-size-10 {
  font-size: 10px;
}

.font-size-8 {
  font-size: 8px;
}

.align-center {
  align-items: center;
}

.color-custom-grey {
  color: rgba(0, 0, 0, 0.5);
}

.color-plain-white {
  color: var(--plain-white);
}

.bg-pill {
  background: var(--bg-nav);
}

.pad-6 {
  padding: 6px !important;
}

.p-8 {
  padding: 8px;
}

.btn-primary {
  color: var(--plain-white) !important;
  background: var(--btn-primary) !important;
  border: none !important;
}